[2017-08-31 09:59] ChippChapp opened #1 "Too slow"
The current way of coupling is incredibly slow, probably due to handling too many entries in too many arrays.
For improved applicability, the run times definitely need to be shortened!

[2017-11-08 15:00] #1 closed

[2017-11-08 15:15] DirkEilander opened #7 "generalize naming"
I suggest to generalize the naming in the code and .set file as suggested in pull request #6

TODOs
Dirk:
- [x] automatically overwrite start time in .nam .ini .mdu files based on setting in .set file
- [x] write start and end time / duration to each model settings file
- [x] separate case-specific arguments and environment specific arguments (currently in .py file) into .set and .env files

Janni

[2017-11-08 15:20] DirkEilander opened #8 "add CaMa-Flood model as 1D routing model"
Hiroaki: (in CaMa-BMI git)
- [x] expose input variables not exposed
- [x] lookup difference between outflw and outflw_avg
- [x] change camo into CaMa
- [x] intitialize BMI adapter for CaMa-Flood with .nam file (instead of params.txt). Thus the model should be build beforehand.
- [x] create inpmap-file based on PCR-GLOBWB landmask extent

Dirk:
- [x] function to find output CaMa output gridcell bas

[2017-11-08 15:23] DirkEilander opened #9 "add test data"
we will add a testmodel (PCR, DFM and CMF) for the elbe river to test future changes

TODOs:

Jannis:
- [x] prepare DFM and PCR models and add to test dir in

Hiroaki
- [x] prepare CMF model for Elbe with same extent as PCR model

[2017-11-08 20:49] ChippChapp commented on #7
further re-structured the new set-file and its naming conventions;
update the framework script accordingly, also throughout workflow to make it more general;
also added few lines to be filled in later if CaMa-BMI is actually added

[2017-11-09 09:13] ChippChapp commented on #9
added both DFM and PCR data to repository. Note that the extent of the PCR domain is larger than the DFM domain (-> nested modelling!)

[2017-11-09 10:19] ChippChapp commented on #7
re: read specific arguments from PCR .ini file instead of .set file

added parsing functionality to framework script to derive PCR inputDIR, cloneMap, and landmask directly from PCR ini-file; now the files don't need to be specified explicitly anymore in set-file

[2017-11-09 12:17] DirkEilander commented on #9
Great! i made a small suggestion at pull request #10

[2017-11-16 14:47] hii600 commented on #8
Finished exposing input runoff variables.
"avg" means daily averaged values.

[2018-01-08 13:42] ChippChapp commented on #7
re: prepare a .set file for the Elbe test case with relative paths

done. please check whether it works for you.
python couplingFramework_v1.1.py default_rename.set paths.env

[2018-01-16 16:09] DirkEilander commented on #7
Thanks @ChippChapp. the code initializes correctly after I fixed a small bugs (e.g line 162 in couplingFramework_v1.1_test.py). Now it seems that some references are not yet set automatically in e.g. the PCR ini file. have you pushed your latest changes? If so i'll continue working on it tomorrow. goal is to have a working example before Friday. ^^

[2018-01-16 17:50] ChippChapp commented on #7
@DirkEilander it works for me though, just checked. If you can let me know what's going wrong in more detail, I can work on the code.

[2018-01-16 20:11] DirkEilander commented on #7
@ChippChapp it works. :+1:

Turns out my local repository wasn't completely updated. I was confused by the couplingFramework_v1.1_test.py vs couplingFramework_v1.1.py, so I though your latest version was not online yet. Will continue with my tasks in the following days.

[2018-01-22 11:06] ChippChapp commented on #8
@DirkEilander I tried to write a new nam-file with your write_ini-function. However, things go wrong if there is a '=' not only behind <kw> but also in the comment following behind a "#" or "!", eg as in the second line of the nam-file. Same happens when writing a new mdu-file

maybe another change in the function is needed, could you work on that?

[2018-01-24 15:50] #9 closed

[2018-01-24 15:52] #7 closed

[2018-01-24 15:58] ChippChapp commented on #8
@DirkEilander and @hii600

I added some new tasks - do you agree with them?

[2018-01-24 19:30] hii600 commented on #8
Sure, I'll work on the task.

[2018-01-24 19:31] hii600 commented on #8
@ChippChapp
Sure, I'll work on the task.

[2018-01-30 10:38] DirkEilander opened #26 "create DFM bmi wrapper object"
create basic object for the DFM model structure with function for online initialization that works with CMF and PCR models

[2018-01-30 10:40] DirkEilander opened #27 "create update_states function for PCR to DFM"

[2018-01-30 10:41] DirkEilander opened #28 "create an update_states function for CMF to DFM"

[2018-01-30 13:10] DirkEilander commented on #8
most of the above steps are done in #29

[2018-02-11 18:42] DirkEilander commented on #27
done in the new couplingFramework_PCR_to_DFM.ipynb in #31

[2018-02-11 18:43] DirkEilander commented on #26
Done in #31. Now in review

[2018-02-12 08:40] ChippChapp commented on #26
Reviewed!

[2018-02-12 08:40] #26 closed

[2018-02-15 13:11] hii600 opened #32 "Make PCR index working in rasterio version 0.36"

[2018-02-23 15:54] DirkEilander commented on #28
fixed in #34

[2018-02-23 15:54] #28 closed

[2018-02-23 15:54] DirkEilander commented on #27
fixed in #34

[2018-02-23 15:54] #27 closed

[2018-02-23 15:54] DirkEilander commented on #8
last issue was fixed in #33

[2018-02-23 15:54] #8 closed

[2018-02-23 16:15] DirkEilander opened #35 "add water balance check"
I think it would be good to add two functions for (at least) the CMF and DFM models which will allow us to do a water balance check.
- **get_total_water_storage()** This function would be called before and after the update() to calculate the delta storage in the total model domain.
- **get_total_model_outflow()** This function calculates the discharge at river mouths (pits) in CMF (PCR) models and

[2018-02-23 16:16] DirkEilander commented on #35
@ChippChapp could you provide comments on the above suggestion? Do you know how to get the total volume of water leaving the DFM model?

[2018-02-23 16:22] DirkEilander opened #36 "visualization of coupled grids"
I was thinking that we could provide a visualization of the coupled grid domain based on adapted ldd and resulting discharge vs. runoff values.

In a coupled PCR to DFM model the coupled domain only has runoff (thus runoff equals discharge) while the edges also have discharge. This works similar for CMF to DFM. Based on this we could perform checks which cells exchange runoff and which cells (at t

[2018-02-26 09:41] #32 closed

[2018-02-26 09:41] ChippChapp commented on #32
With using rasterio v1.0 this issue is closed

[2018-02-26 10:43] ChippChapp commented on #35
@DirkEilander @hii600

first of all I think we should be careful with the units - in the above example different states and fluxes are combined. Guess using "m3" on  daily basis is the way to compare runoff [m] and discharge [m3/s].

unfortunately, i have no idea or experience how to get the total volume of water leaving the DFM model. all i can add is that there is some water balance in the outpu

[2018-02-28 11:24] ChippChapp commented on #35
tried first steps in #38

[2018-02-28 13:52] hii600 opened #39 "better solution for coupling the models"
Editing nextxy files caused error, so we should avoid this.
PCR runoff → CMF
CMF upstream discharge → coupled nodes in DFM
PCR runoff → other nodes in DFM

[2018-02-28 15:18] ChippChapp commented on #39
@hii600
I think we can agree on that coupling PCR runoff to CMF is working and, for the moment at least, we don't need to bother with it?

maybe it's possible to split up the coupled PCR cells? so we first check which PCR cell is coupled to DFM and those indices are then excluded from the coupling of PCR to CMF. we would then get two lists with indices (PCR->DFM; PCR->LFP) without overlap. it woul

[2018-02-28 15:30] hii600 commented on #39
@ChippChapp
Yes that's right, our current way of coupling PCR and CMF should be kept as it is now because it's working.
In the current branch I'm working on,

[2018-02-28 15:33] hii600 commented on #39
@ChippChapp
Thanks for your suggestion, I'm now working on it in my currently-working branch. Since coupling PCR and CMF is working well, I'll keep it as it is.

[2018-03-05 10:42] ChippChapp commented on #35
@DirkEilander and @hii600

I ran PCR->CMF->DFM for the entire year 2000 on my own linux machine and it took pretty exactly 24h which I think is not very fast, but still okay.

However, I found that the discharge simulated then in DFM is not accurate. Particularly, the dynamics in the last part of the simulation period are completely off and seem to originate from a wrong CMF input signal - definit

[2018-03-05 11:28] ChippChapp commented on #35
okay, i made a mistake - also had upstream discharge boundaries in DFM active. will try again without them!

[2018-03-06 09:26] ChippChapp commented on #35
@DirkEilander @hii600

with "upstream discharge boundaries in DFM active" I meant that I just copied a stand-alone version which was forced with observed discharge on top of the coupled discharge forcing -> too much input! However, after removing the BCs, the results were still not really good (KGE=-1.0). We definitely need to look into that!

[2018-03-06 10:29] DirkEilander commented on #35
@ChippChapp
Great the computation performance is better. That simulation performance is not great indeed. I assume that KGE is measured in the DFM?
Since we don't need to offline modify the ldd/nextxy anymore because of the edits in #42 we can also compare the performance of e.g. discharge in different models within the same run. I'd like to see performance differences between te models as well to

[2018-03-06 10:37] ChippChapp commented on #35
@DirkEilander indeed KGE is directly computed from DFM his-output. Would like to compare with other models, but CMF doesn't write output files... @hii600 any clue what's happening there?

[2018-03-06 10:50] ChippChapp commented on #35
#44 provides assessments for run time and model skill

[2018-03-06 10:53] DirkEilander commented on #35
@ChippChapp You need to specify output in the namfile &NOUTPUT section. If COUTDIR is None, no output is written. By default the COUTDIR option is set to './out' when initializing a CMF_model object.

To make sure your reading from the right unit catchment use the index function provided in the CMF_model object to find the right low-rel row, col for a given x, y point.

[2018-03-06 10:57] ChippChapp commented on #35
@DirkEilander do i need to simply set it to "TRUE" or something or do you want to indicate with your second sentence that I need to provide row/col information?

[2018-03-06 11:01] DirkEilander commented on #35
@ChippChapp I mean that when reading from the output files you need to know at which row and column you need to read the data. CMF does not have something like observation points at which it outputs timeseries are saved, instead you'll need to read output from a row, col from a gridded output.

[2018-03-06 14:37] ChippChapp commented on #35
@DirkEilander @hii600

sorry but I tried multiple ideas but either way, no output is written to the out-folder.
With:
`COUTDIR="./out and CRIVOUTDIR="$COUTDIR"`
in the generate_namfile.sh, the model can be executed, but no files occur in the out-folder.

Also, if I run the generate_namfile.sh file, another out-folder is created in the /test_Elbe/CMF_Elbe folder which first has to be deleted before

[2018-03-07 15:09] #39 closed

[2018-03-07 16:28] ChippChapp commented on #35
@DirkEilander @hii600

in the new branch "addCMFoutput" I extended the ipynb with various plots of simulated discharge:

- DFM only

- PCR only

- PCR->DFM

- PCR->CMF->DFM

results indicate that there may be some DOUBLE-COUNTING going on, think we need to look into that into that!

BTW: run times are absolutely okay, I ran almost 9 years within 5 hours on my linux machine.

[2018-03-07 16:34] ChippChapp commented on #35
@DirkEilander @hii600 ,

if I look at the plot of CMF riverdischarge in the notebook at the end of the model period, it is around 800 m3/s at the river mouth.
This would match quite well with the observation as well as DFMonly and PCR->DFM runs. I hence suspect the coupling between CMF (and/or PCR) to DFM leading to the increased Qsim in DFM, what do you think?

[2018-03-08 13:16] DirkEilander commented on #35
@ChippChapp Good to read you're making progress.
@hii600 will look into the issue of the missing CMF output data.

In the mean time you could record observation data at point locations on run time. If you have any first figures i'm curious to see them.

As i'm on leave as from tomorrow, I don't have time to attend to issues until the last week of March.

[2018-03-08 16:21] ChippChapp commented on #35
@DirkEilander
yes, had the same idea too, think that should work. enjoy your holidays and we'll update you about any progress made.
 @hii600
nice, let me know if you know more!

[2018-03-09 12:08] ChippChapp commented on #35
@DirkEilander @hii600

#45 now added plots of PCR->CMF discharge, but it's too little, yet it resembles dynamics of PCR well

regarding water balance check:

- plots show that dynamics of PCR->CMF->DFM are similar to PCR->CMF but in different order of magnitude => strong hint of double-accounting!

- under estimation of qsim by PCR->CMF compared to PCR only indicates that double-accounting is not

[2018-03-09 12:36] hii600 opened #46 "CMF output"
@ChippChapp  @DirkEilander

I found that CMF outputs are stored in PCR/maps/ directory. Apparently that is the currently-working directory (see the figure below). This means that even though we set CMF_out directory, it is not recognized. I'll take a look into this more. Let me know if you have any ideas.

![2018-03-09 13 32 27](https://user-images.githubusercontent.com/32729853/37207735-92a4d8d0-

[2018-03-09 14:48] hii600 commented on #46
CMF outputs can now be obtained

[2018-03-09 14:48] #46 closed

[2018-03-17 11:54] ChippChapp commented on #35
@DirkEilander

Hiroaki (@hii600 ) and me made some good progress with coupling PCR to CMF. After solving some issues like using "runoff" instead of "landSurfaceRunoff", errorous unit conversion in CMF, and flipping the runoff input array into CMF, results are not pretty good and I am confident to say that PCR->CMF works now!

Further work on the double-counting from CFM to DFM is still necessary,

[2018-03-19 13:32] hii600 commented on #35
@ChippChapp
In the latest commit in addCMFoutput repository, I fixed a bug in get_

[2018-03-20 08:30] ChippChapp commented on #35
@hii600
yes, indeed looks a lot better now!!! but you're right, guess that there is still something odd going on...

[2018-03-20 15:06] hii600 commented on #35
@ChippChapp
Further bug fix has been done in the latest commit (https://github.com/openearth/glofrim/commit/916d18d03e27ec53b398640ac5d54fa84dc450af). Now apparently the overestimation problem has been solved! But of course we should quantitatively check water balance still.

[2018-03-20 21:01] ChippChapp commented on #35
@hii600 great work, seems as we have some properly working code now!

just had the following ideas for water balance checks, but it's not on the fly but rather post processing (so we should keep it to short runs):

- for DFM, we compute difference in water volume over entire model time in DFM which should equal the total volume of volume added from CMF minus the total outflow at a control cross-se

[2018-03-21 11:04] ChippChapp commented on #35
@hii600 @DirkEilander

I added some code to check the water balance in DFM and between CMF->DFM.
Agreement between CMF output and DFM input volumes are 99.9%.
Agreement internally in DFM is 0.9%, so guess that's pretty good and the water balance is closed.

Rest to follow!

[2018-03-21 14:03] hii600 commented on #35
@ChippChapp , thanks for your suggestion and work for water balance check. Very nice results! I’m now reproducing the results from the same script.

Actually water balance between PCR and CMF is calculated and recorded to the log appearing on the screen (the second item from the behind).
![2018-03-21 14 58 14](https://user-images.githubusercontent.com/32729853/37714074-e0db855c-2d18-11e8-91bf-5ed6

[2018-03-21 14:34] ChippChapp commented on #35
@hii600
Yes, that is definitely negligible and thus the water balances across models (i.e. PCR->CMF; CMF->DFM) are correct!
Can you copy the water balance computations (preferably in m3 and not in kg) from CMF into the ipynb-notebook? We would then have all the checks in one location.

[2018-03-21 15:38] hii600 commented on #35
@ChippChapp
To do that, maybe the variable of water balance error should be exposed. This is calculated as one float value number per time step.

However, I don't know how to expose just one number, so maybe take a while...keep you posted!

[2018-03-22 10:41] hii600 commented on #35
@DirkEilander
We decided to obtain water balance error from log file and check it on ipynb file.

[2018-03-22 10:41] #35 closed

[2018-03-22 12:18] ChippChapp commented on #36
@DirkEilander
coupling works fine now, so do we still need this issue?
Will cost some time and at least for CMF->CFM we have this plot already...
Otherwise I propose to close this issue.

[2018-03-22 12:20] ChippChapp opened #49 "Clean up, structure code"
With the essential code now being in place, we should clean up the code and structure it in a nice and easy-to-follow way. Also, we should convert the ipynb's to py's for execution on clusters.

[2018-03-22 19:23] ChippChapp opened #52 "PCR2DFM - nans in coupled cells"
There is something going wrong when coupling PCR->DFM.
For some reason the delta volume transferred from PCR to DFM is "nan"...

Any clue why that is?

[2018-03-22 20:43] hii600 commented on #52
@ChippChapp
One thing I quickly noticed is that the script does not calculate water volume from PCR correctly.
In the function ```get_PCR_delta_vol```, we can find
[code]
but actually ```runoff``` in PCR is given as m, so it should be converted to m3.

Also I'm not sure whether PCR gives the variable representing upstream inflow water volume as done in CMF. If it is not so, we cannot do the coupli

[2018-03-22 21:28] ChippChapp commented on #52
True, good point. It has of course be multiplied with cellarea (not a big thing to implement).
For the other part regarding the upstream inflow water, I guess I have to check that with Dirk.

In the meantime and with EGU approaching, we can use the "old" coupling script - I will add it again from the master repos.

[2018-03-26 13:27] DirkEilander commented on #35
great progress dudes! Looking forward to seeing some results.

[2018-03-26 13:57] DirkEilander commented on #52
Is this issue resolved yet? If I understand correctly PCR2CMF works and CMF2DFM works, but PCR2DFM still has some bugs?

I think for the time being using the previous version of the PCR2DFM is fine, however the way we couple the grids (in the new version there is no need to turn of the ldd) is quite different, right? The results should be comparable, but this may also cause some subtle differences

[2018-03-26 13:59] DirkEilander commented on #36
I suggest to keep it open but with lower priority (after EGU). I think it would serve the framework well if these kind of plots are included functionalities.

[2018-03-26 13:59] ChippChapp commented on #52
@DirkEilander yes, you're right that this may introduce some subtle differences and, to be honest, i like the "new" way of coupling much more. Could you maybe have a brief look why it didn't work? guess it's only a minor bug anyway as it used to work, right?

[2018-03-27 07:11] DirkEilander commented on #52
I'll see what I can do. I remember this used to work technically, but then we hadn't checked if it worked correctly.

[2018-03-28 13:32] DirkEilander commented on #52
The nan value for the total is simply because there are nans in the grid (where landmask == 0) of runoff and discharge. This should not be an issue, however i've made it look more pretty it by using np.where(mask, runoff, 0) instead of runoff * mask

I also noticed however, that some DFM 1D nodes are located outside the landmask (where landmask == 0), this may propagate nans and cause errors. I've

[2018-03-28 13:35] DirkEilander opened #55 "PCR2CMF2DFM - CMF runtime error"
@hii600
When i run the PCR2CMF2DFM notebook, CMF raises the following error. However, the folder is there. Any clues? Before my holiday this worked OK. Did you make changes to flood_input.nam, or do I need to compile CMF again?

[2018-03-28 13:39] hii600 commented on #55
@DirkEilander
Yes I did some modifications which need re-compiling. Can you try it and let me know whether it works?

[2018-03-28 13:46] ChippChapp commented on #52
I am pretty busy right now with other stuff (our department moves next week), so I am afraid I cannot promise to have time to work on it before EGU... I'll see what I can do!

[2018-03-29 07:45] ChippChapp commented on #55
@DirkEilander is it working now?

[2018-03-29 07:48] ChippChapp commented on #52
@DirkEilander I checked the script and it did not improve results... However, I found that the units weren't correctly converted and now discharge is simulated with correct dynamics, but still overpredicting.

It reminds me of the situation we also had when coupling CMF->DFM and @hii600 solved it then. Can you maybe check whether the cell assignment is correct?

[2018-04-12 13:30] #55 closed

[2018-04-15 12:49] ChippChapp opened #57 "make code open + reproducible"
Make the code open and reproducible.
That requires making the code docker / binder / other compatible and test it.

[2018-04-15 13:33] ChippChapp commented on #57
I already added some files required for binder (https://mybinder.org/) in equally named branch

[2018-04-23 11:15] DirkEilander opened #60 "discharge coupling mask"
Many lateral inflows from 2D cells which do not contain 1D elements are disregarded in the current discharge coupling scheme. see #54

Currently we couple between 1D (DFM) elements and 2D (PCR) using the following rules:
1. couple runoff in 2D cells which have **one or more** upstream 2D cells which contain 1D elements.
2. couple discharge in 2D cells which have **zero** upstream 2D cells which co

[2018-04-23 15:36] ChippChapp commented on #60
@DirkEilander
many thanks for thinking about possible ways forward.

Luckily, discharge in PCR-GLOBWB is not _inflow_ into a cell but the _outflow_ after performing all hyrologic steps and routing.

So I guess making use of the LDD in PCR-GLOBWB is a good idea. If I get it understand in correctly, we would use the runoff of all coupled PCR cells and add on top the discharge from the next upstream

[2018-04-24 08:25] hii600 commented on #60
@DirkEilander
I worked on this in the latest commit (https://github.com/openearth/glofrim/commit/846d388bbb2f96b3d69b15cf6a8f11f2f3c7846c). Now PCR-DFM and PCR-CMF-DFM results look similar (which is consistent with the results in Amazon as Jannis' EGU Poster), so I guess the problem has been solved.
This is not essential, but it seems that find_downstream functions did not work properly (both PCR

[2018-04-24 08:40] DirkEilander commented on #60
@hii600
Great you got it working! I also noticed yesterday that there are some very ugly bugs in the nb package. I'm currently resolving those bugs. I'll review your commit later today.

One general comment: It would be useful to commit notebooks without output otherwise it's hard to see the differences in the commits.

PS. thanks for the Japanese treat I found on my desk :)

[2018-04-24 08:47] hii600 commented on #60
@DirkEilander
Thanks for your quick check. And yes I forgot to clear output in these days...thanks.

[2018-04-24 09:53] ChippChapp commented on #60
@hii600 and @DirkEilander
thanks for your work! didn't check the results yet, but from your discussion I am quite positive that the problem will be solved.

[2018-05-02 08:14] ChippChapp commented on #60
@DirkEilander @hii600
Hi guys, returned from vacation and now catching up with what happend in the meantime.
How far are we with checking the code for bugs and fixing the coupling to 1D DFM?

Point is that we have now quite some branches and I would like to converge back to say 3-4.

Thanks for you update :)

[2018-05-02 08:16] ChippChapp commented on #52
Think this issue can be closed as it is discussed in #60

[2018-05-02 08:16] #52 closed

[2018-05-02 09:02] DirkEilander commented on #60
@hii600
I'm currently looking into this. The first results seem fine, but still looking into the results of a longer run to see if the problem is solved.

[2018-05-02 09:09] DirkEilander commented on #60
@hii600 @ChippChapp
I'm currently looking into this. The first results seem fine, but still looking into the results of a longer run to see if the problem is solved. I also noticed there are now some unused an double lines (e.g. in get_coupled_grid_mask) in the code and some parts (like routing the discharge one cell downstream) that i'd like to make part of the library rather than the notebook co

[2018-05-02 09:35] ChippChapp commented on #60
Hi @DirkEilander
great that you're looking into it.
Keep me updated about your progress and whether I can help you out with anything.

[2018-05-02 12:03] DirkEilander commented on #60
@hii600: Looking at the resulting "compareAndvalidate_Qsim_PCR2DFM.png" i'm not sure we've nailed this issue. The coupled PCR->DFM model shows a continues larger discharge than just DFM or the observations, which seems to point at double counting. On the other hand you said that PCR->CMF->DFM gave similar results to PCR->DFM, which means we're possibly making the same bias in both setups? BTW: How

[2018-05-02 12:08] ChippChapp commented on #60
@DirkEilander
so the DFM run uses observed discharge as upstream boundary and therefore can be expected to perform (far) better than the coupled runs.
PCR in general overpredicts discharge (it should be plotted in the ipynb-notebooks too as far as I know) and consequently all coupled discharge should overpredict a) observations and b) the DFM run.
To assess whether we double-count, the coupled run

[2018-05-02 16:13] DirkEilander commented on #60
After bugfixes in the nb library, i've taken the liberty to use this code again to get the coupled_mask. The mask look as follows:

![image](https://user-images.githubusercontent.com/15379728/39535360-00a87110-4e34-11e8-934e-f9c10bb52ed9.png)

Most of the coupling and calculating the total flux is now down in functions within the library.

[2018-05-02 16:33] DirkEilander commented on #60
changes commited in new branch. This has been tested for PCR2DFM, not yet for CMF2DFM. latest status in commit  [030d7bc](https://github.com/openearth/glofrim/commit/030d7bc2d8636e489fb466cd6d94f25b8d670918)

[2018-05-03 12:45] ChippChapp commented on #60
@DirkEilander thanks a lot for your work! what do we do then with the "coupled-validity-mask" branch once we merged PCRto1dDFM with VU_nestedModelling? Should we not first merge PCRto1dDFm with coupled-validity-mask and then with VU_nestedModelling?

[2018-05-03 12:47] DirkEilander commented on #49
Hi @ChippChapp @hii600
After we've closed #60 and before we go ahead with adding wflow I suggest some re-structuring. I suggest the following steps which will also help, I think to keep the code and work process understandable.

- [ ] rename the library (now coupling_PCR_FM) to glofrim
- [ ] remove obsolete scripts in coupling_PCR_FM
- [ ] create main.py with BMI_model_wrapper object
- [ ] create

[2018-05-03 14:14] #60 closed

[2018-05-03 16:30] DirkEilander commented on #49
did a first attempt in #65

[2018-05-29 06:58] DirkEilander commented on #49
Sounds good to me. Before GFP I need to prioritize some other work, but perhaps I can squeeze some GLOFRIM work in. Afterwards I should have some time to give this a push again until the code is "finished".

I'm not sure how you choose to divide the tasks, but i think for testing LFP we'll need you too and I'd like to be involved in preparing the manuscript also. Actually, I'm thinking that this w

[2018-05-29 14:33] ChippChapp commented on #49
@DirkEilander , so you basically propose to shift everthing a week or two, say that code development is done on July 5, testing on July 31, and manuscript ready mid August?

Regarding the tasks, I just diveded some "equally" so everyone got two. But I see you point, so let's try this: Dirk, you take the lead on code development, @hii600  on testing, and I on writing. But all with contributions fro

[2018-05-29 14:42] DirkEilander commented on #49
@ChippChapp sounds good! I think the new dates you propose are more feasible for me. I'll try to get some stuff done earlier, but can't promise.

[2018-05-29 17:25] ChippChapp commented on #49
Okay, then let's start proper coding after GFP and set the deadlines during our catch-up.

[2018-06-28 12:36] ChippChapp opened #72 "PCR_in_dir has to be user defined - not good!"
Currently the input directory of the PCR files is user-defined as os.dirpath(ini-file) + /input30min/.

However, this is in almost all cases not the case.

The inDir of PCR should therefore be read from the PCR ini-file instead.

This should be tested for all models involved - we should interfere as little as possible with model-specific model structure.

[2018-07-10 15:57] DirkEilander opened #74 "csdms-compliant"
Hi guys,

After our last working day and discussions with Hiroaki and Paolo in the week thereafter I figured that the VU_nestedModelling branch had become to complicated. To make it more simple I thought of some changes which I've implemented in a new branch csdms-compliant:

- keep functions as simple as possible. one taks per function.
- no main script where all the model bmi need to fit; instea

[2018-07-23 07:23] DirkEilander opened #76 "cmf outdir"
There seems to be one small bug with CMF when I run it with the BMI wrapper in the cdsms-compliant branch at the moment. When I run the model the model tries to write the output in <OUTDIR>/< OUTDIR >/  instead of just < OUTDIR >/

In the namfile  my settings look like this:
[code]

But when I look in the log file it has changed the OUTFLWDIR setting to the OUTDIR setting:
[code]

It then tries to

[2018-07-23 07:29] DirkEilander commented on #72
this is fixed in the csdms branch I think

[2018-07-23 07:30] DirkEilander commented on #49
can be closed?

[2018-07-23 08:36] ChippChapp commented on #72
true, now that we do not copy files, no need to adapt paths anymore.
i closed issue therefore.

[2018-07-23 08:36] #72 closed

[2018-07-23 08:37] ChippChapp commented on #36
I see many cool plots of coupled grids and how which volume is exchanged.
@DirkEilander I propose to close this issue as well, what do you think?

[2018-07-23 08:42] ChippChapp commented on #49
structure has changes a lot and is now much better structured. a lot of code has moved into functions or the BMI model objects.
I closed the issue therefore.

[2018-07-23 08:42] #49 closed

[2018-07-23 08:53] ChippChapp commented on #74
@DirkEilander
great work. I am happy to start testing and have time at hand, but maybe we should briefly have a chat how we want to do it beforehand.
Also, I am happy to go through the code and start with the documentation, and maybe more importantly, try to pinpoint those parts which may be harder to understand for non-developers.

[2018-07-23 09:23] DirkEilander commented on #36
let's keep it open for now to make sure these plots work for all coupled models

[2018-07-23 11:32] hii600 commented on #76
@DirkEilander
Thank you very much for your work. I'll take a look at the problem in several days.

[2018-07-23 12:20] DirkEilander commented on #74
for documentation check https://matplotlib.org/sampledoc/index.html

[2018-07-23 12:50] DirkEilander commented on #74
For the testing part we agreed to work on unit test scripts and output test scripts. The unit test just make sure that after every new commit the code still works. The output test script wil run coupled models and plot the outputs to check if the coupling makes sense physically. We will work this out in separate branches and scripts in the test folder.

[2018-07-23 18:21] ChippChapp commented on #74
@DirkEilander
I am trying to use the index functionality but either I am applying it incorrectly or there is a bug...
If I try
`cbmi.get_value_at_indices(CMF.rivinf, obs_ind_CMF)`
then I get the error "CMF" has no attribute rivinf.
The same if I try with PCR and discharge.
Any clue what's going wrong?

[2018-07-24 02:47] hii600 commented on #74
@DirkEilander @ChippChapp
Thank you, great work! But could you include a sample environment.ini file to the repository? Otherwise users cannot test running.

[2018-07-24 06:41] ChippChapp commented on #74
@hii600
it should be environment.env (@DirkEilander sent one via mail).
We changed the file type because ini was for some reason not recognized by gitignore.
Hope this helps!

[2018-07-24 06:47] hii600 commented on #74
@ChippChapp
I see, and can you include a sample file to the repository like environment.env.sample? Otherwise I cannot know what it looks like...

[2018-07-24 07:58] DirkEilander commented on #74
@hii600 the environment.env file is optional, but helps us to work with the same ini files on different environments as all absolute paths can be set in a different file from the relative paths. I've updated the glofrim.ini sample file in the root of the glofrim repository which include all options. You can set the engine section and the root_dir option in the models section in a separate environm

[2018-07-24 08:08] DirkEilander commented on #74
@ChippChapp regaring the get value at indices function. You wrote that this doens't work which is correct.

Here you are trying to read an attribute of the CMF BMI object called rivinf. The BMI object does not store any variables as attributes. Instead use quotes around the "model.variable" argument to access a variable from that specif model. The syntacs is the same as in the ini file. Thus you s

[2018-07-24 08:11] ChippChapp commented on #74
@DirkEilander
ah okay, did try a lot but not this one :) thanks!
one more reason to have a good documentation....

[2018-07-24 10:09] DirkEilander commented on #74
@ChippChapp in order to make sure we don't get annoying git issues it might be better if you could create a separate branch

[2018-07-24 10:15] ChippChapp commented on #74
yeah sorry for that, realized too late what I was doing...

new branch is created and I tested PCR2CMF.
I found that:

- PCR works well, discharge values are in right ballpark

- CMF.rivout is not recognized, only CMF.outflw

- CMF.outflw is not correctly simulated (see pic)

![download](https://user-images.githubusercontent.com/10956703/43132039-de19f7ca-8f3a-11e8-8ee2-a81530c77df8.png)

Any clue

[2018-07-24 11:06] DirkEilander commented on #74
@ChippChapp Thanks for testing. I'll look into these issues later this afternoon.

Most seem quite easy to solve.
About the CMF coupling. It seems like the inpmat is not set correctly.
About the DFM coupling. This one will be a bit harder to figure out. is q1 the right variable?

I cannot make much of the figures. What do we see? It seems that the orientation right figure is also wrong/ different.

[2018-07-24 11:39] ChippChapp commented on #74
@DirkEilander
I added a caption to make it clearer.
Also my guess that orientation (x- and y-axis swapped) is wrong since CMF resolution is half the one from PCR and therefore should have twice the number of cells per axis.

[2018-07-24 13:45] DirkEilander commented on #74
@ChippChapp. Thanks! i had a look at the code and the previous glofirm verions and i noticed that indeed there is a translation from the fortran ordering of 2d arrays to the python ordering. Also we need to deel with missing values in the current version. I'll submit some changes to the Qtest branch soon.

[2018-07-24 18:53] DirkEilander commented on #74
most issues are fixed in  commit 19895f and i've created one testQ notebook for all combinations. Some more testing on the outputs for long runs in necessary. CMF seems to stop updating after a while and DFM still returns zeros.

"rivout_avg" is exposed "rivout" is not. @hii600 Could you (again) explain the difference ? All exposed variables can be found in the CMF source code cama-flood_bmi_v3.6.

[2018-07-25 09:04] ChippChapp commented on #74
hi @DirkEilander ,
nice you could fix most of the issues!

It's indeed bit weird that CMF does run, but does not alter any variable anymore - heartbeat's gone!
![download](https://user-images.githubusercontent.com/10956703/43190780-1f6a4fa8-8ffa-11e8-884c-ff0ec1589fca.png)

Regarding your comment whether q1 is the right variable, I don't know exactly, never extracted discharge before. I'll send He

[2018-07-25 09:09] DirkEilander commented on #74
I had the same before. We need to figure out what is happening in March.

Regarding the DFM variables. I've linked [a file](https://github.com/openearth/glofrim/files/2227278/bmi_get_var.inc.txt) from the source code which documents all exposed variables. I think q1 should be the right one.

[2018-07-25 10:20] ChippChapp commented on #74
I have pushed a new par file with extended simulation period (1 year) to model_test_data bc other LFP cannot be tested.

What is interesting is that also then, the PCR-LFP model crashes around the same time when CMF stops updating... Maybe just coincidence but maybe a structural issue?

[code]

Also, the channel network in LFP looks a bit odd:
![download](https://user-images.githubusercontent.com/

[2018-07-25 10:59] ChippChapp commented on #74
Also, it seems as if the LFP 1D channels are not where they are supposed to be while the 2D DEM looks very much as it should.

![download 1](https://user-images.githubusercontent.com/10956703/43197128-7e3f9b54-900a-11e8-8015-941c80e6d053.png)
_Plot of PCR discharge and Qx discharge in LFP_

![download 2](https://user-images.githubusercontent.com/10956703/43197162-9539eb3e-900a-11e8-83f3-d316c5a38e

[2018-07-25 11:07] DirkEilander commented on #74
I'll look into the LFP 1D channels now. It could be that the set_value_at_indices is not working with the odd way that we need to use to set a variable in LFP.

In order to figure out what is happening at around March I'll extend the logger debug messages. Perhaps you @ChippChapp could try if the same happens in the PCR2CMF coupling if you start lets say March first and run for 2 months.

[2018-07-25 12:02] ChippChapp commented on #74
Tried to run PCR2CMF from 2000-05-01 (yyyy-mm-dd) which revealed two things:

1. cbmi.set_start_time() does not work for PCR. It's still 2000-01-01 if trying 'cbmi.bmimodels['PCR'].get_start_time'. For CMF is 2000-05-01 however. The start time as reported with cbmi.get_start_time() is 2000-05-01 and seemingly depending on CMF (or even all receiving models?).

2.  cbmi.get_current_time() gives 2000

[2018-07-25 15:03] DirkEilander commented on #74
great testing @ChippChapp !

There were still some (large) bugs related to the model times in the code. To much to explain here, but we need to make sure that in wflow 'runlengthdetermination' is set to 'intervals' and in all cases the model timestep fits in the GLOFRIM timestep. If this is not the case you may receive error messages.

The time issues should be resolved in the latest [commit](http

[2018-07-26 08:07] ChippChapp commented on #74
@DirkEilander
as far as I know that's discharge in x- and y-direction, should be m3/s.

[2018-07-26 08:31] DirkEilander commented on #74
The numbers I get are a few orders of magnitude larger than PCR discharge, that's why I was asking. So we should just sum Qx and Qy to get the total discharge leaving one cell? And just to double check, SGCQin is also in m3/s and this is the inflow to each cell I assume? And does it include the outflow from all neighboring cells from the previous time step or does it only account for lateral inflo

[2018-07-26 08:35] ChippChapp commented on #74
Yes I realized that as well, wanted to check this today. Also the distrubtion of Qx/Qy are bit odd...

SGCQin is really only lateral inflow which is added to the general calculations within each cell.

[2018-07-26 10:55] DirkEilander commented on #74
@ChippChapp
I have double checked, but the LFP time and GLOFRIM time seem to be synced fine - can't find any issues there. Diving further into it now.

Your CMF output looks really odd! Seems like a model problem, given that it works for me. Can you share your input_flood.nam and log files (via email)?

[2018-07-31 09:30] DirkEilander commented on #74
@ChippChapp Thanks for updating the LFP model. Let me know once you've tested the coupled model if the model is still stable and results make sense.

[2018-08-03 12:39] DirkEilander commented on #74
@ChippChapp @hii600
This new branch seems to work for all five models. @ChippChapp will continue to do some testing, but most bugs have been solved.

I've also added a convenience script to run the coupled models from command line, see glofrim-py/scripts/glofrim_runner.py
You can now run a coupled model using:
`python glofrim_runner.py run /path/to/glofrim.ini –env   /path/to/glofrim.env -s 2000-0

[2018-08-03 12:39] #74 closed

[2018-08-03 12:42] DirkEilander commented on #76
@hii600
Did you manage to have a look at this? if you run a coupled PCR2CMF model using the glofrim_PCR2CMF.ini file from the model_test_data/test_ELBE dir as below, you will notice that the CMF ouputs are saved in ./out/out/ while ./out/ is set in the input_food.temp file.

`python glofrim_runner.py run /home/dirk/repos/model_test_data/test_Elbe/glofrim_PCR2CMF.ini --env /home/dirk/repos/glofrim/

[2018-08-03 12:46] DirkEilander opened #77 "documentation"
I'm opening this issue to keep track of the documentation of GLOFRIM.

It would be could to start edition and adding to the function docstrings, especially in glofrim_bmi.py. We can than use SPHINX* and readthedocs for proper documentation.
It would also be good to update the readme.md file for the glofrim v2.

- [x] update readme.md
- [x] add docstrings to functions in glofrim_bmi.py

*) SPHINX:

[2018-08-03 12:47] DirkEilander opened #78 "unit testing"
it's obvious we need unit testing. so just do it!

[2018-08-03 13:50] ChippChapp commented on #77
@DirkEilander I'll work on that

[2018-08-05 03:03] hii600 commented on #76
@DirkEilander
Sorry for the delay, although I tried running GLOFRIM, I still got some error.
[code]
although I'm using the latest version of model_test_data/test_Elbe directory (master branch) and I found the ldd file in PCR_Elbe/input_30min. Do you have any clue?

[2018-08-05 04:55] hii600 commented on #76
@DirkEilander
Sorry for the late response. I reproduced the same error as you encountered. However, if I set the output directory outside of the model_test_data directory, I could successfully obtain the outputs in the expected directory.

[code]

[2018-08-08 15:41] ChippChapp commented on #77
Updated the Readme.md file - please check if you're fine with the new one or whether additional changes have to be made.

Also started documentation with Sphinx in new branch "Doc".
First steps taken to create html - works, only content is missing.
Started with documentation with sphinx in pcr_bmi.py. Seems to work fine but still work to do.

[2018-08-13 15:03] ChippChapp commented on #77
Added docstrings to all functions in glofrim_bmi.py [().](https://github.com/openearth/glofrim/commit/4d492a3ee4ae661ceab161e0f0e6f02b7bbb4856)

[2018-08-13 15:28] ChippChapp commented on #76
@hii600
good to know that you can avoid it this way, but doesn't really sound like it's solved it to me as users still may use "./out/" and then they'll end up in trouble.
can you try to fix it or would that take veeeeery long?

[2018-08-13 15:31] ChippChapp commented on #57
not an issue atm, will come up later again.
i hence close it to reduce the number of issues (that's useful from a psychological point of view...).

[2018-08-13 15:31] #57 closed

[2018-08-13 15:45] hii600 commented on #76
Not sure, I'll take a look at it this week.

[2018-08-14 03:04] hii600 commented on #76
@ChippChapp
I'm not sure whether it takes "veeeeery long" or not because this issue occurs not from CaMa-Flood model codes but through the GLOFRIM processing. I'll take a look at what the cause is.

[2018-08-14 03:59] hii600 commented on #76
@ChippChapp  @DirkEilander
Please update your CMF model from the latest git repository (cama-flood_bmi_v3.6.2 ), where I found a small bug in specifying output directory. By doing so the doubling problem is now fixed.

[2018-08-14 06:27] ChippChapp commented on #76
@hii600
many thanks for looking into this and also solving it!

[2018-08-14 06:27] #76 closed

[2018-08-14 07:29] DirkEilander commented on #76
Thanks @hii600 for working on this!!

[2018-08-15 12:27] ChippChapp commented on #77
@DirkEilander @hii600
I have explored the functions of sphinx, autodoc, autosummary, and readthedocs.

Managed to get some good looking index.html (in _build/html) and some function docstring can be found by clicking on function names in running_GLOFRIM.html.

The documentation on [readthedocs](https://glofrim.readthedocs.io) is similar, but not as good due to some reasons. First, it always used t

[2018-08-15 14:19] DirkEilander commented on #77
cool you  manged to setup the documentation @ChippChapp !!
the readthedocs link does not yet work for me as it tries to read the docs from the master branch.

In the mean time I've updated the README file in the csdms-compliant branch and added a yml file to make installation easier. Perhaps part of my update of the README can be moved / copied to the documentation.

[2018-08-15 14:57] ChippChapp commented on #77
@DirkEilander
yeah that's what I tried to explain. You should be able to swith to the Doc branch and then see more content. Default is unfortunatley the master branch...

I will add the yml-file and README to the Doc because this is the most  upstream branch. Guess we can (again) end up in quite some trouble if we add too much new files to more dowmstream branches and csdms-compliant is I guess th

[2018-08-15 15:12] ChippChapp commented on #77
Things to do:

- [ ] Put all rst-files in separate folder

- [ ] Make function docstrings available also on readthedocs.io

[2018-08-15 17:32] DirkEilander commented on #77
It wasn't clear to me directly how to switch branches, but basically you need to change the url I figured. To save @hii600 some research: you can access our documentation under development (from the **doc** branch) here: https://glofrim.readthedocs.io/en/doc/#

I agree on the branches!

[2018-08-16 01:28] hii600 commented on #77
@ChippChapp  @DirkEilander
Although I'm somewhat behind to follow the updates going on, the documentation work looks really impressive!

[2018-08-16 06:42] ChippChapp commented on #77
found the way to change the settings. not the "doc"branch is shown as latest, i.e. once you enter [readthedocs](https://glofrim.readthedocs.io).
Less confusing I hope.

[2018-08-20 12:59] ChippChapp commented on #78
- [ ] Update model_test_data and remove unnecessary files (esp. forcing)

- [ ] Make unit tests for coupled and stand-alone BMI runs (@DirkEilander ), working with lean model test data repos

- [ ] Clean up "tests" folder

- [ ] Migrate model_test_data to glofrim

[2018-08-20 16:03] ChippChapp commented on #78
@DirkEilander @hii600
I have removed some 47 files from the model_test_data repository in a new branch named "lean".

PCR forcing is therefore not available anymore and needs to be provided via BMI.

[2018-09-05 11:41] ChippChapp opened #80 "results"
I got some first results!
![plt_qsim_pcr2cmf2dfm](https://user-images.githubusercontent.com/10956703/45090979-47aed280-b111-11e8-865d-38b12bce4524.png)

Plot shows PCR default vs. PCR->CMF in the Amazon basin at Obidos for period 2006 until 2009.

[2018-09-05 11:59] DirkEilander commented on #80
nice stuff!! I'll try to run WFLOW-SBM stand-alone and coupled to CaMa-Flood.

[2018-09-20 07:37] ChippChapp commented on #77
@hii600 @DirkEilander
I have moved the LISFLOOD-FP repository from GitLab back to GitHub.
Think this is more consistent with the rest of the models/code.
You can find it [here](https://github.com/ChippChapp/LISFLOOD-FP)

[2018-10-02 07:34] DirkEilander commented on #78
We need to distinguish between unit testing and integration/regression testing. Right now the tests are using the unit testing framework but are mostly doing integration tests. Read more about the difference here https://github.com/anfema/integrate#whats-the-difference-between-integration-testing-and-unit-testing

[2018-10-02 08:05] DirkEilander opened #81 "try to stick as much as possible to native model files and settings"
right now CMF still needs a tif file for the nextxy data and LFP needs a refdate settingsin the par file which are not native to the models. I think we should try to minimize this kind of non-native data and settings in the setup. Are there other non-native data / settings that we should have a look at?

- [x] replace required nextxy.tif with reading directly from binary file
- [x] make LFP refdat

[2018-10-02 09:05] DirkEilander opened #82 "develop ini syntax to couple multiple instances from same model (framework)"
Right now we can only use the abbreviations of the implemented models (PCR, DFM etc) in the ini-file syntax under the [models] and [exchanges] sections. As wflow is a framework with several models rather than one model there are usecases where we want to couple a wflow hydrological model with the wflow kin wave routing or reservoir models. For these usecases we need to be able to have multiple ins

[2018-10-05 12:37] ChippChapp commented on #81
Hi @DirkEilander
that's definitely a valuable remark.
Cannot think of another one at the moment. Think if we solve these two (particularly the first one!), we should be fine for now and see how further sharing/testing/application goes.

[2018-10-05 12:45] ChippChapp commented on #82
Hi @DirkEilander
good point.
I am not an expert in using wflow, but can you not also specify the hydrologic model to routing module coupling in the wflow ini-file?
This would make the GLOFRIM ini-file bit leaner.
Or would it then not possible to get runoff and routed discharge from one and the same BMI isntance but we have to address hydrologic model and routing module independently?

[2018-10-10 08:32] DirkEilander opened #86 "readability exchanges in glofrim ini file"
Right now the exchange section reads like equations in which case it makes more sense to turn the 'to_model' and 'from_model' around.  Instead it is meant as a “flow-chart”, so from_model -> to_model. This setup is consistent with the wflow bmi_runner.py script.

The readability of the glofrim ini script would improve if we change the delimiter from ‘=’ to ‘->’ to indicate the direction of flow of

[2018-10-12 12:37] DirkEilander commented on #81
@hii600 @ChippChapp
I've worked on the issues above in the new use-native branch.
Could you guys double check if the new branch is working for you?

[2018-10-12 12:37] DirkEilander commented on #81
we need to especially test the CMF updates on a global model!

[2018-10-17 09:40] ChippChapp commented on #86
@DirkEilander
As much as I understand Hiroaki's comment, I never had any problems following the "flow-chart" way of defining the exchanges.
But I was wondering to which extent is your comment here an issue or is it a proposition to change the delimiter from '=' to '->'? If so, I would decline it as in my opinion the '=' sign is much more common than '->' in programming, mathematics, etc.
I would s

[2018-10-17 09:44] ChippChapp commented on #81
@DirkEilander
Do you mean with "testing the CMF updated on a global model" that we should run the global CMF model via GLOFRIM stand-alone mode?

[2018-10-17 13:14] DirkEilander commented on #82
@ChippChapp The coupling between the wflow hydrology and routing is now also done via BMI. By making the naming flexible we can also combine different wflow modules in GLOFRIM

[2018-10-17 13:20] DirkEilander commented on #86
The '=' sign is more common but not necessary to define a flow of data. We could also allow for both signs but that might make it only more complicated. I like your practical point of view to leave it as is and see if we are proven wrong in the future. Maybe it's more than anything just a matter of good documentation. What do you think @hii600 ?

[2018-10-17 13:27] DirkEilander commented on #81
@ChippChapp With a stand alone model the updated part is not used. We need to test with a coupled global CMF to local nested LISFLOOD global model. The thing is that for a global model CMF uses multiple files to index hires gridcells to the unit catchments. It would be good to test if that works with GLOFRIM.

- [ ] test with a coupled global CMF to local nested LISFLOOD global model

[2018-10-18 11:46] ChippChapp commented on #86
I think allowing for both will lead to more confusion than clarity - think we should not give too much freedom to the end-user... and yes, good documentation is key :)
but see what @hii600 says!

[2018-10-18 11:50] ChippChapp commented on #82
@DirkEilander
alrigtht, great work then!
Think we should update the documentation then accordingly as well as update the template GLOFRIM ini-file.
Happy to do the former if you do the latter ;)

[2018-10-18 11:50] hii600 commented on #86
@DirkEilander @ChippChapp
OK I agree with your take on and let's keep the '=' sign as it is!

[2018-10-18 11:55] ChippChapp commented on #86
alrigtht, one issue less!

[2018-10-18 11:55] #86 closed

[2018-11-08 08:17] DirkEilander opened #87 "python 3 compatibility"
This week wflow has been upgraded to version 2018.1 which support only Python 3.6+, and PCRaster 4.2+ and is not backwards compatible to Python 2.7 because of PCRaster 4.1. Now PCRGLOB-WB and wflow cannot both be supported by GLOFRIM anymore as they require different versions of Python and PCRaster. @ChippChapp Any idea whether PCRGLOB-WB is also moving towards Python 3.6+?

Either way we need to

[2018-11-08 08:29] ChippChapp commented on #87
hi @DirkEilander that's indeed one of the issues I have in my head but honestly I don't know whether there are any efforts at UU towards moving PCR-GLOBWB to python 3... Since PCRaster and PCR-GLOBWB are both from Physical Geography, one may think that this should be in the pipeline, but in the end they are two different projects... I'll ask!

Guess that we need to maintain a python 2 branch indee

[2018-11-12 10:21] ChippChapp commented on #87
I have checked and apparently PCRaster can be compiled against Python 3 on Linux and also PCR-GLOBWB should work with Python 3. Hasn't really been tested yet though...

[2018-11-12 12:30] DirkEilander commented on #87
In that case i'm pretty sure it's not going to work. ;) I heard from Deltares colleagues that PCRaster4.2 (the version that works with python 3+) is much more strict on datatypes. It's very likely that some refactoring of the PCR-GLOBWB code needs to be done before that works, but once v2 is done we should create a python3 branch and start testing.

[2018-11-14 16:01] ChippChapp commented on #87
Haha, you may be right about that.
Let's worry about this issue another time :)

[2018-11-14 16:03] ChippChapp commented on #77
Documentation is so far on track and also the different branches are merged now.
Last update of documentation once results and publication are submission ready.

[2018-11-14 16:03] #77 closed

[2018-11-14 16:05] ChippChapp commented on #80
@DirkEilander @hii600
I have some issues with the coupled PCR->CMF run for the Ganges.
Resulting discharge is suspiciosuly low, don't think that's realistic for such a big river...

Can you both check whether you obtain the same results if coupling PCR to CMF?
Hope it's just my own set-up that's errounous and n
![falakka pcr pcr2cmf](https://user-images.githubusercontent.com/10956703/48495066-8064

[2018-11-30 09:51] DirkEilander opened #88 "notebook for demonstration purposes"
Create a notebook with plots that guide users through the GLOFRIM possibilities. Currently there is a notebook for the amazon in the model_test_data repos that could either be moved here or to a new glofrim_examples respository.

[2018-11-30 12:16] DirkEilander opened #89 "csdms compliant bmi (cont. 2)"
After #74 we need a second iteration to make glofrim follow the bmi convention as stated here https://bmi-spec.readthedocs.io/en/latest/bmi.lang.py.html We can use this bmi-tester to check the compatibility https://github.com/csdms/bmi-tester Glofrim addition like the additions like the two-step initialization and grid method should be build on top of this.

[2018-11-30 13:50] ChippChapp opened #90 "automatically adapt CMF nam-file"
The DROFUNIT factor in the CMF nam-file should be automatically set to 1 if coupled with PCR. Would avoid quite some unnecessary runs as it may often be forgotten to adapt this setting in the nam-file.

[2018-11-30 17:09] DirkEilander commented on #90
I don't think we should be changing the config files "under the hood".
Instead we should use a python library like pint to do automatic unit
conversion.

On Fri, Nov 30, 2018, 2:50 PM Jannis Hoch <notifications@github.com> wrote:

--
Kind regards,
Dirk Eilander

Email: dirk.eilander@gmail.com | LinkedIn: http://lnkd.in/VSS42s  | Twitter:
@DirkEilander

[2018-11-30 17:13] ChippChapp commented on #90
Alright, sounds good to me too.
As long as the results are not 3 order of magnitude smaller because you forgot to change one parameter I am fine with whatever means :)

[2018-12-04 09:46] ChippChapp opened #91 "issue with cbmi time controller"
When running a coupled PCR-CMF model, CMF is updated several times before the specified simulation period.
Since both models and the starttime (-s in command line) are all set to the same date, this behaviour suggests a bug in the code.
[input_flood.txt](https://github.com/openearth/glofrim/files/2643254/input_flood.txt)
[setup_PCR2CMF_30min_Bangla_glofrim.txt](https://github.com/openearth/glofrim

[2019-01-09 15:12] DirkEilander commented on #91
We found that the shift in timing has to do with the leap year setting in CMF (LLEAPYR). For the Bangladesh case this was set to FALSE which means its using a 365 days/year calendar, while glofrim always assumes a calendar with leap years to convert the internal CMF time (minutes from 01-01-1850) to python datetime. For now the easy fix is to run the Bangladesh case with LLEAPYR=.True.

In any cas

[2019-01-09 15:34] ChippChapp opened #92 "implement water balance"
Since results show slightly lower simulated discharge with LFP than with other models, we need to make a first-order water balance for the PCR->CMF->LFP run, also to be able to cope with reviewer comments.

To that end, some steps are required:

- [x] store water balances to a wb-file in same directory as glofrim-log file

- [x] convert coupled PCR runoff to volume and accumulate per time step

-

[2019-01-15 17:50] DirkEilander commented on #92
i've tested this for the Elbe PCR2CMF2LFP test case. It seems that after a year, the CMF2LFP exchange is 16% less in volume than the PCR2CMF exchange. This could be because part of the water leafs the CMF domain elsewhere. We would need to keep of outflows from CMF additionally.

@ChippChapp: could you test with Bangladesh?

[2019-01-15 20:17] ChippChapp commented on #92
hi @DirkEilander thanks for testing, I'll check for Bangladesh asap!
Can you maybe add a plot or file to show your findings?

I am wondering why that is as 16% is rather significant I'd say.
Indeed, the volumes exchanged between PCR and CMF and CMF and LFP, respectively, do not need to match since LFP can be discretized for only a fraction of the CMF domain.
I think the "correct" test should be wh

[2019-01-17 14:05] #36 closed

[2019-01-17 14:05] #81 closed

[2019-01-17 21:12] ChippChapp commented on #91
Brief update on the CMF model: when specifiying leapyears as TRUE in the nam-file, there is no a priori updating to the start date anymore.

[2019-01-18 07:39] ChippChapp commented on #92
@DirkEilander
important notice: the requirements.txt file needs updating since the WB calculations make use of pandas.
Otherwise users may end up with compatibility issues between packages.

[2019-01-18 12:39] DirkEilander commented on #92
In my opinion the scripts (maybe apart from glofrim_runner.py) are not necessarily part of the package itself, but just examples of how one could use the package. These examples may include new/other packages.

[2019-01-18 12:43] DirkEilander commented on #91
I'm not sure, but i think you mean that the GLOFRIM time and CMF output timesteps are in sync if you set leapyears to TRUE?

For documentation: @ChippChapp had found that PCR always in uses leapyears. If the input does not contain data on Feb 29, it reuse the input data of Feb 28.

I suggest to postpone this feature request (a check on leap year setting consistency across the models) to the next v

[2019-01-18 12:50] DirkEilander opened #94 "restructure repository folders"
I'd like to remove the glofrim-py folder which I think is obsolete from the folder structure and move all its content one folder up. This way it will be more like a regular python package. We should investigate if this has any impact, for instance on the sphinx documentation.

[2019-01-18 12:55] ChippChapp commented on #94
fine with me but shouldn't we wait until all developments are finished, ie before final submission?

[2019-01-18 12:57] ChippChapp commented on #91
"I'm not sure, but i think you mean that the GLOFRIM time and CMF output timesteps are in sync if you set leapyears to TRUE?"

I was referring to the unexpected updating of CMF time to GLOFRIM start time before coupled run commences which was related to the fact that leap years were turned off in CMF. If turning setting on, everything works as expected.

"I suggest to postpone this feature request

[2019-01-18 13:01] ChippChapp commented on #92
Fair point, but think it's bit odd to have convenience scripts in the GLOFRIM package which cannot be executed with the requirement.txt in the same package. So for the scripts we will deliver together with the GLOFRIM code, the requirement.txt should cover the needed dependencies.

[2019-01-18 13:16] DirkEilander commented on #92
Basically what I'm trying to say is that there is just one convience script
(glofrim_runner.py) which should be covered by the requirements.txt and the
other scripts are more like examples. The examples and the extra packages
these use are not actually required to run glofrim and can be left out of
the requirements.txt. This will also help to keep the dependencies to a
minimum. If we start includi

[2019-01-18 13:19] ChippChapp commented on #92
now I get what you want to say :)
Agreed, we stick with glofrim_runner.py as the only convenience script and use the wb-version as example for possible extension/alterations of the script.
Nice!

[2019-01-18 13:30] ChippChapp commented on #94
can the use-native branch be deleted as it was already merged into master?
if so, then i will delete it and make the GLOFRIM 2.0 release from the master branch.

[2019-01-21 12:13] DirkEilander commented on #92
I'm testing a slightly different approach to track the water balance. I'm keeping track of the total volume of water exchanged per exchange as well as the total volume of water which goes in and out of each model. To do the latter, we should should try to implement a "_get_tot_volume_out" and "_get_tot_volume_in" function for each mode (so far PCR and CMF). For instance for CMF the functions are g

[2019-01-22 09:14] #92 closed

[2019-01-22 10:08] DirkEilander opened #97 "add functions to get total input/output volumes and delta storage per model"
The total input/output volume functions are implemented for PCR and CMF yielding good results, see reference to old post below. We should try to extent this to other models and add a "delta storage" or "storage state" function.

-----------------------------
we should should try to implement a "_get_tot_volume_out" and "_get_tot_volume_in" function for each mode (so far PCR and CMF). For instance

[2019-02-20 09:28] GovertAlkemade opened #99 "ldd and subcatch error message"
When running a wflow glofrim requires a "wflow_ldd.map" and "wflow_subcatch.map" to be present in the static input maps for the given wflow model, if this is not the case an error is raised and glofrim stops running even though the model might not require a ldd or subcatch map.

The checks are in lines 194 and 197 of wfl_bmi.py
![error](https://user-images.githubusercontent.com/32001276/53080995-3

[2019-02-20 09:41] DirkEilander commented on #99
Thanks for making the issue @GovertAlkemade
It's probably best to set a warming instead of an error message as the ldd is not always required, but only if there is a coupling with a hydrodynamic model which requires upstream boundary conditions. I'll look into this.

[2019-03-09 07:43] ChippChapp commented on #78
@DirkEilander
just checking - do we need this issue still as we already have implemented some water balance checks for the water volume exchange between models?

[2019-03-09 07:44] ChippChapp commented on #88
@DirkEilander
we have the ipynb notebook that we used for GLOFRIM demonstration. Think this issue can be closed then?

[2019-03-11 06:18] DirkEilander commented on #88
We should just think of a way to share this notebook plus data. Perhaps in a different glofrim-examples repository?

[2019-03-11 06:19] DirkEilander commented on #78
yes. this is all but finished...

[2019-06-12 14:56] ChippChapp opened #100 "make GLOFRIM pip/conda compatible"
Haven't looked at it in detail yet, but wouldn't it be great to also make GLOFRIM code available via pip/conda install?

[2019-06-16 13:14] DirkEilander commented on #100
we can easily install glofrim using pip with following command
`pip install git+https://github.com/openearth/glofrim.git`
This works like a charm if you have an environment with all dependencies installed.

I've also included glofrim to the environment.yml (see #101) so that you easily install glofrim with full dependencies in a new environment after you've cloned this repos.
`conda env create -f

[2019-06-16 13:14] #100 closed

[2020-04-06 15:42] JannisHoch commented on #87
@DirkEilander I have worked on the migration to Python 3.
Test A for the Amazon works fine (PCR->CMF) after changing some code, mostly built-in changes in Python fuctions.

Test B breaks when coupling 2D->1D with the error message

`IndexError: too many indices for array`

I guess it has to do with this function, maybe the d.items works in a different wah than d.iteritems?

`def dictinvert(d):

[2020-04-08 12:35] DirkEilander commented on #87
I believe @hcwinsemius has already solved this. Could you confirm and push your latest version Hessel? Are you aware of each others work on migrating this to py3?

[2020-04-09 15:36] JannisHoch commented on #87
@DirkEilander @hcwinsemius
from what i see hessel just worked on the lfp_bmi.py and wfl_bmi.py files, not in the spatial_coupling.py where the error occurs...
The version I work with already contains all of Hessel's commits so far. If you have the solution locally, then indeed please commit and push :)

[2020-05-14 16:44] DirkEilander commented on #87
@JannisHoch @hcwinsemius
In general i think we're quit far with this transformation, thanks to you both!

There's still a breaking issue in a recent commit, which i think we can fix easily but i'd like to get Hessel's comments first, see https://github.com/openearth/glofrim/commit/d2671054385132d3b5c92a897d756a0b842f6ea1#commitcomment-39179240

After this is settled and we comfirmed all cases in t

[2020-05-14 16:51] DirkEilander opened #104 "wflow map and bmi transforms do not match"
As pointed out by @hcwinsemius in [wflow_bmi.py#L165 ](https://github.com/openearth/glofrim/blob/d89a39abeb9ef7c3ffabae8f960b71344112969b/glofrim/wfl_bmi.py#L165) the clone map and bmi maps of wflow have a different North-South orientation. I'm not too happy with the current solution and like to discuss how we can fix this.

@hcwinsemius It seems the approach with flip_transform did not work event

[2020-05-14 17:39] hcwinsemius commented on #104
I noticed that a flipud was done in the get_value method of WFL so it was not required eventually. I did implement some additional options to accomodate a flip of the Affine transformation in case that would be needed for future models

[2020-05-14 18:22] JannisHoch commented on #87
@DirkEilander and @hcwinsemius
thanks for checking.
before the most recent commit's (i.e. more or less a month ago I guess, but no clue when exactly), I was able to run the PCR->CMF->LFP cascade for test B (Ganges).
With the latest commits, it breaks as Dirk already mentioned.
Let's wait for @hcwinsemius to respond to Dirks comment and see from there.

P.S. I don't have any uncommited changes loca

[2020-05-15 06:48] DirkEilander commented on #104
OK. I'll keep this issue open to see how we can fix this in a nicer way.

[2020-05-19 09:29] hcwinsemius opened #105 "Projection functionalities not documented"
configuration of model projections needs to be added to readthedocs

[2020-05-19 09:30] hcwinsemius opened #106 "cell specific coupling not documented"
configuration for specific assigned cells for coupling needs to be added to readthedocs

[2020-05-19 09:31] hcwinsemius opened #107 "grid_2_grid treatment of missing values"
missing values should be masked in the set_value method of resp models, not in grid_2_grid.

[2020-05-22 09:54] hcwinsemius commented on #104
I am not convinced that this is a GLOFRIM issue. It is a wflow issue that the bmi methods have their origin differently than the model layers itself. So I propose to close this issue. It should be resolved in WFlow instead.

[2020-05-22 09:59] #106 closed

[2020-05-22 09:59] #105 closed

[2020-05-22 10:03] hcwinsemius commented on #107
@DirkEilander can you review my modifications for this issue? Also, I propose to add a line for ensuring that nans that lie within a model domain are set to zero for each model. You can see that I did this for Lisflood on the third line of the snippet below.
[code]

[2020-05-26 07:52] DirkEilander commented on #107
@hcwinsemius The method looks good to me! I'll try to run our test cases soon to ensure all run smoothly and the results make sense.

[2022-01-25 12:39] hcwinsemius opened #119 "Sfincs adapter"
Add a Sfincs adapter, starting point is the LISFLOOD adapter

[2022-01-26 08:38] JannisHoch commented on #119
@hcwinsemius would love to see this included into GLOFRIM. maybe good to think of a (scientific) case study where the added value of SFINCS could be evaluted?

[2022-01-26 21:05] hcwinsemius commented on #119
Working on it. I'll throw you a PR if you want?!?